# path:   /home/klassiker/.local/share/repos/xkeymou/.gitignore
# author: klassiker [mrdotx]
# url:    https://github.com/mrdotx/xkeymou
# date:   2025-08-08T05:30:34+0200

/config.h
/xkeymou
/xkeymou.o
/util.o
*.tar.gz
